<!-- <form class="form-horizontal" role="form" ng-submit="getContactById()">
    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Contact ID</label>
        <div class="col-sm-10">
            <input type="text" ng-model="Contact.id" class="form-control" id="title" placeholder="Contact ID Here" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-primary" value="GET" />
        </div>
    </div>
</form> -->

<form class="form-horizontal" role="form" ng-submit="getContactById()">
    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Contact ID</label>
        <div class="col-sm-10">
            <input type="text" ng-model="Contact.id" class="form-control" id="title" placeholder="Contact ID Here" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-primary" value="GET" />
        </div>
    </div>
</form>

<div>
    <h2>Contact Details</h2>
    <span style="float:right">
        <button id="add" class="btn glyphicon glyphicon-plus" ng-click="redirectToCreateContact()">Add Contact</button>
    </span>
    <table style="width:100%">
        <!-- Display contact list here -->
        <tr ng-repeat="contact in contacts">
            <td>{{ contact.id }}</td>
            <td>{{ contact.name }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.phonenumber }}</td>
            <!-- Add other details as needed -->
            <td>
                <button ng-click="editContact(contact.id)">Edit</button>
                <button ng-click="deleteContact(contact.id)">Delete</button>
                <button ng-click="getContactById(contact.id)">Get</button>
            </td>
        </tr>
    </table>
</div>
